@charset "utf-8";

#container{padding:0 25px 15px;}
.top_tit_area{padding:20px 0 9px}
.certification_area{margin-top:3px}
.password_area{margin-top:10px}
.btn_area{margin-top:7px;}
.import_info{top:25px;height:76px;padding:20px;}
.drag_info{top:25px;height:76px;padding:20px;}
.certification_area .table_box{height:100px;}
.manage_btn_box{padding: 5px 11px 7px;}