@charset "utf-8";
@import url("../css/reset.css");

/*******************************************************************
	Common
********************************************************************/
#wrap{position:relative;width:100%}
#container{position:relative;width:432px;margin:50px auto 0;padding:0 25px 20px;background:#fff;border:2px solid #f68620}
.contents{position:relative;width:100%}

/* btn_set */
.btn_wht{display:inline-block;position:relative;padding:5px 30px;background:#fff;border:1px solid #cfcfcf;font-weight:normal;font-size:12px;color:#666;letter-spacing:-1px;vertical-align:top}

/* ############# 수정내용(20180315) 시작 ############# */
.btn_wht:hover{border:1px solid #f6861f;color:#f68620}
.btn_wht:focus{outline:none;border:1px solid #f16d02}
/* ############# 수정내용(20180315) 끝 ############# */

.btn_wht:active{background:#f6861f;border:1px solid #f47b20;color:#fff}
/* # 수정(2018-02-27) 시작 # */
.btn_org{display:inline-block;position:relative;width:110px;height:30px;background:#f6861f;border:1px solid #f16d02;font-weight:bold;font-size:13px;color:#fff;letter-spacing:-1px;vertical-align:top;line-height:30px}
/* # 수정(2018-02-27) 끝 # */

/* ############# 수정내용(20180315) 시작 ############# */
.btn_org:hover{background:#f59821}
.btn_org:focus{outline:none;border:1px solid #F15102;background:#f59821}
/* ############# 수정내용(20180315) 끝 ############# */
.btn_org:active{background:#dc7026}


/* # 이니라인 수정(2018-02-19) 시작 # */
/* .btn_wht2{display:inline-block;position:relative;height:30px;padding:0 39px;background:#fff;border:1px solid #cbcbcb;font-weight:bold;font-size:12px;color:#666;letter-spacing:-1px;vertical-align:top;line-height:30px} */
/* # 수정(2018-02-27) 시작 # */
.btn_wht2{display:inline-block;position:relative;width:110px;height:30px;background:#fff;border:1px solid #cbcbcb;font-weight:bold;font-size:12px;color:#666;letter-spacing:-1px;vertical-align:top;line-height:30px;cursor:pointer}
/* # 수정(2018-02-27) 끝 # */
/* # 이니라인 수정(2018-02-19) 끝 # */

/* ############# 수정내용(20180315) 시작 ############# */
.btn_wht2:hover{border:1px solid #f6861f;color:#f68620}
.btn_wht2:focus{outline:none;border:1px solid #f6861f;color:#f68620}
/* ############# 수정내용(20180315) 끝 ############# */


.btn_wht2:active{background:#f6861f;border:1px solid #f47b20;color:#fff}

/* modal bg */
.modal_bg{display:none;z-index:100;position:absolute;top:0;left:0;width:100%;height:100%;background:#000;opacity:0.7;-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=70)'}

.input_box{display:block;position:relative;width:368px}
/* # 수정(2018-02-27) 시작 # */
input[type="password"]{width:100%;padding-bottom:2px;line-height:1;ime-mode:disabled;}

@-moz-document url-prefix() { 
  input[type="password"] {
     font-size:13px;
  }
}
/*input[type="password"]:focus{border:1px solid #f6861f}*/
/* # 수정(2018-02-27) 끝 # */
.pfc{color:#f88600 !important}

/* 공통 타이틀 */
.info_txt{display:block;font-weight:bold;font-size:13px;color:#1c1c1c;letter-spacing:-1px} /* #2018-02-19 수정 by 이니라인 */

/* #2018-01-08 수정 및 추가 */
/* table */
table{table-layout:fixed;position:relative;width:100%}
table.type1{position:relative;width:100%;text-align:center}
table.type1 th{position:relative;height:31px;border-left:1px solid #dedede;font-weight:bold;font-size:12px;color:#666;background:#efefef}
table.type1 th a{display:block;padding:7px 0;font-size:11px;color:#515151;vertical-align:top}
table.type1 th .ico_sort{display:inline-block;overflow:hidden;width:9px;height:7px;margin-left:2px}
table.type1 th .ico_sort.on img{margin-top:-9px}
table.type1 td{box-sizing:border-box;width:20px;height:20px;height:31px;border-top:1px solid #efefef;font-size:11px;color:#333}
table.lst{border-collapse:collapse}
table.lst tbody tr{position:relative;height:31px;border-top:1px solid #efefef;border-right:1px solid #fff;border-bottom:1px solid #efefef;border-left:1px solid #fff;cursor:pointer}
table.lst .sort{box-sizing:border-box;text-align:left}
table.lst .sort .ico{display:inline-block;width:15px;height:30px;margin:0 5px;vertical-align:middle}
table.lst .sort .ico.ico_vaild{background:url("../images/ico/ico_certi_vaild.png") no-repeat 0 0}
table.lst .sort .ico.ico_expire{background:url("../images/ico/ico_certi_expire.png") no-repeat 0 0}
table.lst .sort .ico.ico_due{background:url("../images/ico/ico_certi_due.png") no-repeat 0 0}
table.lst .sort .certi_name{display:inline-block;width:80%;vertical-align:middle}
table.lst tr.on{border:1px solid #f68620}
table.lst tr.on td{border:1px solid #f68620;border-left:0;border-right:0;color:#f68620}
table.lst tr.on .sort .ico_vaild,
table.lst tr.on .sort .ico_expire,
table.lst tr.on .sort .ico_due{background-position:0 -30px}
table.lst .nodata{overflow:hidden;height:inherit;border:0}
table.lst .nodata td{overflow:hidden;height:90px}
/* #2018-01-08 수정 및 추가 끝 */

/* type2 */
table.type2{position:relative;width:100%;font-size:11px;text-align:center}
table.type2 th{padding:5px 10px;border-left:1px solid #d8d8d8;background:#f6f6f6;word-break:break-all}
table.type2 td{padding:5px 10px;border-top:1px solid #d8d8d8;border-left:1px solid #d8d8d8;background:#fff;word-break:break-all} 

/* type3 */
table.type3{position:relative;width:100%;font-size:11px;text-align:center}
table.type3 th{height:24px;word-break:break-all}
table.type3 td{height:24px;word-break:break-all} 
/*table.type3 tr:nth-child(even){background-color:#f3f6fa}*/
/* # 수정(2018-01-25) 시작 # */
table.type3 tr.dv td{height:1px;background:#fff}
table.type3 tr.dv td .dash{display:block;width:100%;border-top:1px dashed #bbb}
/* # 수정(2018-01-25) 끝 # */

/* loading */
.loading_bg{display:none;z-index:201;position:absolute;top:0;left:0;width:100%;height:100%;background:#000;opacity:0.1;-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=10)'}
/* # 수정(2018-01-19) 시작 # */
.pop_confirm .btn_area .btn_org,.pop_dwn .btn_area .btn_wht2{width:115px !important;padding-right:0;padding-left:0}
/* # 수정(2018-01-19) 끝 # */

.loading{z-index:500;display:none;position:absolute;top:50%;left:50%;width:30px;height:30px;margin-left:-15px;margin-top:-15px;background:url("../images/loading.png") no-repeat 0 0}

.auth1{background:url("../images/ico/ico_certi_due.png") no-repeat 0 0}
.auth2{background:url("../images/ico/ico_certi_expire.png") no-repeat 0 0}
.auth3{background:url("../images/ico/ico_certi_vaild.png") no-repeat 0 0}
.empty_layer{display:none;position:absolute;font-size:11px;left:21px;top:94px}

/* # 수정(2018-01-25) 시작 # */
.chk_save{display:inline-block;width:100%;margin-top:5px;text-align:center}
/* # 수정(2018-01-25) 끝 # */
.chk_save input[type="checkbox"]{display:inline-block;margin-top:2px;vertical-align:top}
.chk_save label{display:inline-block;font-size:11px;color:#333;vertical-align:top;cursor:pointer}

/* 2018-01-22 추가 */
.full img{width:100%;height:auto}


/*******************************************************************
	Layout
********************************************************************/ 
/* 타이틀 영역 */
.top_tit_area{position:relative;height:26px;padding:20px 0 19px}
.top_tit_area .title{float:left;font-weight:bold;font-size:20px;margin-top:5px \0/IE8;color:#333;letter-spacing:-1px}
/* # 추가(2018-01-16) 시작 # */
.top_tit_area .title .verT{display:inline-block;margin-top:8px;margin-left:5px;font-weight:normal;font-size:12px;color:#999;letter-spacing:0;vertical-align:top}
/* # 추가(2018-01-16) 끝 # */
.top_tit_area .btn_close{display:block;float:right;width:18px;height:18px}

/* 고객사 로고 삽입 영역 */
.logo_box{position:relative;overflow:hidden;width:100%;height:80px;margin-bottom:13px;background:#e9e9e9}

/* 인증서 저장위치 선택 */
.storage_area{display:block;position:relative;width:100%}/* #2018-01-03 수정 */
.storage_box{position:relative;width:100%}
.storage_lst{display:block;width:100%;height:78px;margin-top:12px;border-top:1px solid #d8d8d8;border-bottom:1px solid #d8d8d8}
.storage_lst > li{position:relative;float:left;width:85px;height:78px;border-right:1px solid #d8d8d8;background:#fff}
.storage_lst > li:first-child{width:86px;border-left:1px solid #d8d8d8}
.storage_lst > li a{display:block;width:100%}
.storage_lst > li .bg_box{display:block;position:relative;width:100%}
.storage_lst > li .bg_box .ov{display:none;position:absolute;top:0;left:0}
.storage_lst > li .box_tit{display:block;position:absolute;bottom:6px;width:100%;font-size:12px;color:#515251;letter-spacing:-1px;text-align:center}
.storage_lst > li .rac{display:none;position:absolute;top:-1px;left:-1px;width:83px;height:76px;border:2px solid #f68620}
.storage_lst > li .bg_box .dis{display:none;position:absolute;top:0;left:0}
.storage_lst > li:first-child .rac{width:84px}
.storage_lst > li:hover .bg_box .ov{display:block}
.storage_lst > li:hover .box_tit{color:#f68620}
.storage_lst > li.on .rac{display:block}
.storage_lst > li.on .bg_box .ov{display:block}
.storage_lst > li.on .box_tit{color:#f68620}
.storage_lst > li.disable .dis{display:block}
.storage_lst > li.disable .rac{display:none}
.storage_lst > li.disable .box_tit{color:#cecdcd}
/* # 추가(2018-02-22) 시작 by 이니라인 # */
.storage_lst > li.clicked .bg_box .ov{display:block}
.storage_lst > li.clicked .box_tit{color:#f68620}
/* # 추가(2018-02-22) 끝 by 이니라인 # */

/* 디스크 선택 */
/* # 수정(2018-02-27) 시작 # */
.choice_box{display:none;z-index:20;position:absolute;padding:5px 10px;min-width:50px;box-shadow:0 0 10px #999;border:1px solid #ddd;background:#fff;white-space:nowrap} /* # 수정(2018-02-20) by 이니라인 # */
/* # 수정(2018-02-27) 끝 # */


.choice_box > li{display:block}
.choice_box > li a{display:inline-block;color:#333;padding:2px 0;font-size:11px;letter-spacing:-1px;word-break:break-all}
.choice_box > li a:hover{background:#f6861f;color:#fff}

/* 더보기 레이어 팝업 */
/* .more_storage_box{display:none;z-index:200;position:absolute;top:-21px;right:0;padding:20px 10px;border:1px solid #d8d8d8;background:#fff} */
.more_storage_box{display:none;z-index:200;position:absolute;top:79px;right:-1px;background:#fff;border: 1px solid #b4b4b4; box-shadow: 1px 0px 10px 1px #cecece;} /* # 수정(2018-02-20) by 이니라인 # */
.more_storage_box .storage_more{width:auto;height:78px;border-top:1px solid #d8d8d8;border-bottom:1px solid #d8d8d8}
.more_storage_box .storage_more li{position:relative;float:left;width:85px;height:78px;border-right:1px solid #d8d8d8;background:#fff}
.more_storage_box .storage_more li:first-child{border-left:1px solid #d8d8d8}
.more_storage_box .storage_more li a{display:block;width:100%}
.more_storage_box .storage_more li .bg_box{display:block;position:relative;width:100%}
.more_storage_box .storage_more li .bg_box .ov{display:none;position:absolute;top:0;left:0}
.more_storage_box .storage_more li .box_tit{display:block;position:absolute;bottom:6px;width:100%;font-size:12px;color:#999;letter-spacing:-1px;text-align:center}
.more_storage_box .storage_more li .bg_box .dis{display:none;position:absolute;top:0;left:0}
.more_storage_box .storage_more li .rac{display:none;position:absolute;top:-1px;left:-1px;width:83px;height:76px;border:2px solid #f68620}
.more_storage_box .storage_more li.on .rac{display:block}
.more_storage_box .storage_more li.on .bg_box .ov{display:block}
.more_storage_box .storage_more li.on .box_tit{font-weight:bold;color:#f68620}
.more_storage_box .storage_more li.disable .dis{display:block}
.more_storage_box .storage_more li.disable .box_tit{font-weight:bold;color:#cecdcd}
.more_storage_box .btn_close{display:block;position:absolute;top:5px;right:10px;width:10px}
.more_storage_box .btn_close img{width:100%;height:auto}
/* #20180111 수정 */
.more_storage_box .storage_more .choice_box > li{float:inherit;width:inherit;height:inherit;border-left:0;border-right:0}
/* #20180111 수정 끝 */
/* #20180219 추가 by 이니라인 */
.more_storage_box .storage_more > li:hover .bg_box .ov{display:block}
.more_storage_box .storage_more > li:hover .box_tit{color:#f68620}
.more_storage_box .storage_more > li.disable .box_tit{color:#cecdcd}
.more_storage_box .storage_more > li.clicked .bg_box .ov{display:block}
.more_storage_box .storage_more > li.clicked .box_tit{color:#f68620}
/* #20180219 추가 끝 by 이니라인 */

/* 사용할 인증서 선택 */
.certification_area{display:block;position:relative;width:100%;margin-top:27px}
.certification_area .table_box{box-sizing:border-box;display:block;position:relative;overflow:hidden;height:124px;margin-top:12px;border:1px solid #dedede}
.certification_area .table_box .scr_fix{display:block;height:32px}
.certification_area .table_box .scr_tb{display:block;position:relative;overflow:hidden;width:100%;height:93px}
.certification_area .certi_lst{position:relative;width:100%;padding-bottom:1px;text-align:center}
.certification_area .certi_lst li{position:relative;height:31px;font-size:11px}
.certification_area .certi_lst li a{display:block;height:29px;border-top:1px solid #efefef;color:#333;line-height:30px}
.certification_area .certi_lst li:first-child a{border-top:1px solid #fff}
.certification_area .certi_lst li div{float:left;width:20%}
.certification_area .certi_lst li .sort{width:36%;padding:0 2%;text-align:left}
.certification_area .certi_lst li .sort span{display:block;overflow:hidden;padding-left:20px;text-overflow:ellipsis;white-space:nowrap}
.certification_area .certi_lst li .sort .ico_vaild{background:url("../images/ico/ico_certi_vaild.png") no-repeat 0 0}
.certification_area .certi_lst li .sort .ico_expire{background:url("../images/ico/ico_certi_expire.png") no-repeat 0 0}
.certification_area .certi_lst li .sort .ico_due{background:url("../images/ico/ico_certi_due.png") no-repeat 0 0}
.certification_area .certi_lst li .bg_rac{z-index:1;display:none;position:absolute;top:0px;left:0;width:428px;height:30px;border:1px solid #f6861f}
.certification_area .certi_lst li:first-child a:hover,
.certification_area .certi_lst li:first-child.on a{border-top:1px solid #f6861f}
.certification_area .certi_lst li a:hover,
.certification_area .certi_lst li.on a{color:#f37621}
.certification_area .certi_lst li a:hover .bg_rac,
.certification_area .certi_lst li.on .bg_rac{display:block}
.certification_area .certi_lst li a:hover .sort .ico_vaild,
.certification_area .certi_lst li.on .sort .ico_vaild{background-position:0 -30px}
.certification_area .certi_lst li a:hover .sort .ico_expire,
.certification_area .certi_lst li.on .sort .ico_expire{background-position:0 -30px}
.certification_area .certi_lst li a:hover .sort .ico_due,
.certification_area .certi_lst li.on .sort .ico_due{background-position:0 -30px}
.certification_area .btn_set{position:relative;width:100%;height:26px;margin-top:8px;text-align:right}
.certification_area .btn_set .btn_wht{width:100px}
/* #2018-01-03 추가 */
.noti_layer{display:inline-block;z-index:2;white-space:nowrap;position:absolute;top:30%;left:35%;width:auto !important;padding:10px 15px;background:#f6ad1f;text-align:left}
.noti_layer a{display:block;font-size:11px;color:#fff}


/* 드래그 영역 2018-01-18 추가 */
.drag_area{display:none;z-index:50;position:absolute;top:0;left:0;width:100%;height:100%;background:#000;opacity:0.8;-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=80)'}
.drag_info{z-index:55;display:none;position:absolute;top:54px;left:0;width:100%;height:100px;padding:40px 20px;box-sizing:border-box;border:1px solid #f68620;font-size:11px;color:#f68620;text-align: center}
.import_info{z-index:18;display:none;position:absolute;top:54px;left:0;width:100%;height:100px;padding:40px 20px;box-sizing:border-box;border:1px solid #f68620;font-size:11px;color:#f68620;text-align: center}

/* 인증서 암호 입력 */
.password_area{display:block;position:relative;width:100%;margin-top:20px}
.password_area .input_box{float:left}

/* ############# 수정내용(20180315) 시작 ############# */
.btn_keyboard{display:block;overflow:hidden;float:left;position:relative;width:30px;height:30px;box-sizing:border-box;border:1px solid #c6c6c6;margin-left:5px}
.btn_keyboard:focus{outline:none;border:1px solid #f68620}
.btn_keyboard:hover{outline:none;border:1px solid #f68620}
/* ############# 수정내용(20180315) 끝 ############# */
.img_keyboard{display:block;overflow:hidden;float:left;position:relative;width:30px;height:30px;box-sizing:border-box;border:1px solid #c6c6c6;margin-left:5px}



.password_area .manage_btn_box .input_box{height:31px}
.password_area .manage_btn_box p{display:inline-block;clear:both;width:100%;margin-top:5px;font-size:11px;color:#545454}
.btn_area{position:relative;width:100%;margin-top:17px;text-align:center}
.btn_area .btn_wht2:active{background:#fee5ce;border:1px solid #f88600;color:#f88600} /* #2018-02-19 추가 by 이니라인 */
.manage_area{margin-top: 20px} /* #2018-02-19 추가 by 이니라인 */
.manage_area .btn_area .btn_wht2:active{background:#f6861f;border:1px solid #f47b20;color:#fff} /* #2018-02-19 추가 by 이니라인 */


/* 인증서 작업들 */
/* .manage_btn_box{overflow-x:hidden;overflow-y:auto;position:relative;width:408px;margin-top:10px;padding:9px 10px 16px;background:#f6f6f6;border:1px solid #e4e4e4} */
.manage_btn_box{position:relative;width:408px;margin-top:10px;padding:9px 10px 16px;background:#f6f6f6;border:1px solid #e4e4e4}
.manage_btn_box .btn_set{position:relative;width:100%;margin-top:7px;text-align:center}
.btn_set .btn_wht{width:130px;height:24px;padding:0 0 0;font-size:11px;text-align:center;line-height:24px}
.btn_set .btn_wht:hover,
.btn_set .btn_wht:focus{border:1px solid #f88600;color:#f88600}
.btn_set .btn_wht:active{background:#fee5ce;border:1px solid #f88600;color:#f88600}
.btn_set .disable {pointer-events: none; background:#e0e0e0} /* #2018-02-19 추가 by 이니라인 */
.btn_set .disable:focus {color:#666666} /* #2018-02-19 추가 by 이니라인 */

/* 은행계좌 정보 */
.account_info_area{padding-bottom:16px}
/* # 수정(2018-01-19) 시작 # */
.bank_info{overflow:hidden;position:relative;margin-bottom:13px}
/* # 수정(2018-01-19) 끝 # */

/* # 수정(2018-01-25) 시작 # */
.account_info{overflow:hidden;position:relative;height:97px;margin-bottom:13px;border:1px solid #d8d8d8}
/* # 수정(2018-01-25) 끝 # */

/* # 추가(2018-01-19) 시작 # */
.export_down{display:inline-block}
/* # 추가(2018-01-19) 끝 # */

/*******************************************************************
	popup
********************************************************************/ 
/* popup common */
/* # 수정(2018-01-25) 시작 # */
.pop_area{z-index:250;position:absolute;top:50%;left:50%}
/* # 수정(2018-01-25) 끝 # */
.pop_area .title{display:block;height:38px;padding-left:18px;border-bottom:1px solid #dedede;font-weight:bold;font-size:15px;letter-spacing:-1px;line-height:38px}
.pop_area .pop_cont{padding:20px 20px 17px}
.pop_area .pop_copy .pop_cont{padding:20px 7px 17px}
.pop_area .pop_rac{display:block;border:1px solid #d8d8d8;padding:10px;margin-top:20px}
.pop_area .pop_rac .tit{display:block;font-weight:bold;font-size:14px;color:#333;letter-spacing:-1px}
.pop_area .pop_rac .input_txt{display:inline-block;margin-top:5px;font-weight:bold;font-size:14px;color:#094a9a;vertical-align:top}
.pop_area .pop_rac .info_txt{display:block;width:100%;margin-top:10px;font-size:12px;color:#999;text-align:center}
/* # 이니라인 수정(2018-02-19) 시작 # */
.pop_area .btn_area{display:block;margin-top:20px;width:100%;text-align:center}
.pop_area .pop_error .btn_area{display:block;margin-top:0px;width:100%;text-align:center}
/* # 이니라인 수정(2018-02-19) 끝 # */
.pop_area .btn_area .btn_org{width:168px}

/* 인증서 보기 */
.pop_area .pop_noti{display:none;position:relative;width:390px;margin-top:-232px;margin-left:-195px;background:#fff}
.pop_area .pop_noti .pop_cont{width:350px}

/* ############# 수정내용(20180315) 시작 ############# */
.pop_area .pop_noti .tab_area{position:relative;height:40px;box-sizing:border-box;border-bottom:0;font-size:0}
.pop_area .pop_noti .tab_area li{display:inline-block;width:50%;height:40px;vertical-align:top}
.pop_area .pop_noti .tab_area li a{display:block;height:29px;padding-top:9px;background:#f6f6f6;border:1px solid #e4e4e4;font-weight:bold;font-size:13px;color:#545454;letter-spacing:-1px;vertical-align:top;text-align:center}
/*.pop_area .pop_noti .tab_area li:first-child a{border-left:0}*/
.pop_area .pop_noti .tab_area li.on a{background:#fff;border-bottom:1px solid #fff;color:#f88600}
.pop_area .pop_noti .tab_area li a:focus{outline:none;border:1px solid #f68620}
/* ############# 수정내용(20180315) 끝 ############# */


.pop_area .pop_noti .detail_box{display:none;position:relative;padding:20px;border:1px solid #e4e4e4;border-top:0}
.pop_area .pop_noti .detail_box.tab1{display:block}
.pop_area .pop_noti .detail_box .gry_box{position:relative;overflow-x:hidden;overflow-y:auto;width:100%;height:257px}
.pop_area .pop_noti .detail_box .gry_box .nomal_txt{display:block;margin-top:10px;font-weight:bold;font-size:11px}
.pop_area .pop_noti .detail_box .gry_box .nomal_txt .txt{font-weight:normal}
.pop_area .pop_noti .detail_box .gry_box .nomal_txt .time_area{display:block;margin-top:5px}
.pop_area .pop_noti .detail_box .gry_box .nomal_txt .time_area .txt{display:block}
.pop_area .pop_noti .detail_box .table_box{display:block;overflow-x:hidden;overflow-y:auto;position:relative;width:100%;height:255px;border:1px solid #dedede}
.pop_area .btn_pop_close{display:block;position:absolute;top:3px;right:22px;width:14px;height:14px;margin-top:8px}
/* # 이니라인 추가(2018-02-19) 시작 # */
.pop_error .bl2{margin-bottom: 10px}
.pop_error .btn_area .btn_org{margin-top:20px}
/* # 이니라인 추가(2018-02-19) 끝 # */
/* 알림 */
.pop_area .pop_alert{display:none;position:relative;width:308px;margin-top:-86px;margin-left:-154px;background:#fff}
.pop_area .alert_txt{font-size:13px;color:#545454;line-height:20px}


/* ############# 수정내용(20180315) 시작 ############# */
.pop_area .pop_alert .alert_txt{display:inline-block;width:100%;vertical-align:middle;text-align:center}
.pop_area .pop_alert .alert_txt .ico{display:inline-block;vertical-align:middle}
.pop_area .pop_alert .alert_txt .cmt{display:inline-block;width:auto;text-align:left;vertical-align:middle;word-break:break-all}
.pop_area .pop_alert .bl{width:19px;height:19px;margin-right:5px;background:url("../images/ico/ico_chk.png") no-repeat 0 0}
.pop_area .pop_alert .bl2{width:23px;height:20px;margin-bottom:0;margin-right:5px;background:url("../images/ico/ico_alert.png") no-repeat 0 0}
.pop_area .pop_alert .alert_txt.long .cmt{width:230px}
/* ############# 수정내용(20180315) 끝 ############# */

/* 인증서 암호 */
.pop_area .pop_enter{margin-top:-136px}
.pop_area .tit{display:block;font-size:12px;color:#545454;letter-spacing:-1px;line-height:16px}
.pop_enter .pw_input_box{margin-top:15px;height:31px}
.pop_enter .pw_input_box > label{display:inline-block;float:left;width:40px;height:31px;font-size:12px;color:#545454;letter-spacing:-1px;line-height:31px}
.pop_enter .pw_input_box .input_box{display:inline-block;float:left;width:193px}
.pop_enter .pw_input_box .btn_keyboard{margin-left:3px}
.pop_enter p{margin-top:30px;padding-top:5px;border-top:1px solid #f88600;font-size:11px;color:#545454;line-height:14px}
.pop_enter p strong{font-weight:bold}
.pop_enter .btn_area .btn_org,
.pop_enter .btn_area .btn_wht2,
.pop_copy .btn_area .btn_org,
.pop_copy .btn_area .btn_wht2,
.pop_dwn .btn_area .btn_org,
.pop_dwn .btn_area .btn_wht2{width:115px;padding-right:0;padding-left:0}
.pop_area .pop_change{margin-top:-191px}
.pop_change .pw_input_box label{width:79px}
.pop_change .pw_input_box .input_box{width:154px;height:31px}

/* 인증서 저장 위치 */
/* .pop_area .pop_copy{width:386px;margin-top:-122px;margin-left:-193px} */
.pop_area .pop_copy{width:446px;margin-top:-122px;margin-left:-222px}
.pop_copy .storage_lst{margin-top:20px}

/* 프로그램 다운로드 */
/* # 수정(2018-02-27) 시작 # */
.pop_area .pop_dwn .alert_txt{padding-top:0}
.pop_area .pop_dwn .alert_txt .cmt{display:inline-block;width:230px;text-align:left;vertical-align:top;word-break:break-all}
/* # 수정(2018-02-27) 끝 # */

/* # 추가(2018-01-24) 시작 # */
/* 인증서 발급 (인증서 저장위치 선택, 비밀번호+비밀번호 확인) */
.issue_area{display:block;position:relative;width:100%}
.issue_area .title .verT{display:inline-block;margin-top:1px;margin-left:5px;font-weight:normal;font-size:12px;color:#999;letter-spacing:0;vertical-align:top}
.issue_area .info_txt{display:block}
.issue_area .enter_area,
.issue_area .pin_area{display:inline-block;position:relative;width:100%;margin-top:20px}
.issue_area .enter_area .tit,
.issue_area .pin_area .tit{display:block;font-weight:bold;font-size:13px;color:#1c1c1c;letter-spacing:-1px}
.issue_area .enter_area .info_txt,
.issue_area .pin_area .info_txt{display:block;padding:10px 20px;font-weight:normal;font-size:12px;color:#999}
.issue_area .enter_area .pw_input_box,
.issue_area .pin_area .pw_input_box{margin-top:10px;padding:0 20px;height:31px}
.issue_area .enter_area .pw_input_box > label,
.issue_area .pin_area .pw_input_box > label{display:inline-block;float:left;width:70px;height:31px;font-size:12px;color:#545454;letter-spacing:-1px;line-height:31px}
.issue_area .enter_area .pw_input_box .input_box,
.issue_area .pin_area .pw_input_box .input_box{display:inline-block;float:left;width:240px}
.issue_area .enter_area .pw_input_box .btn_keyboard,
.issue_area .pin_area .pw_input_box .btn_keyboard{margin-left:3px}
.issue_area .enter_area > p,
.issue_area .pin_area > p{margin-top:30px;padding-top:5px;border-top:1px solid #f88600;font-size:11px;color:#545454;line-height:14px}
/* # 추가(2018-01-24) 끝 # */

/* # 추가(2018-02-19) 시작 by 이니라인# */
.issue_area .enter_area,
.issue_area .pin_area,{margin-top:0px;}
.issue_area .enter_area .info_txt,
.issue_area .pin_area .info_txt{padding: 5px 20px;}
div.w2ui-col-header {text-align:center;}
/* # 추가(2018-02-19) 끝 by 이니라인 # */

/* # 추가(2018-02-27) 시작 # */
.signfile_info_area{position:relative;width:100%}
.signfile_info_area .info_box{position:relative;width:100%;padding:10px;margin-top:20px;box-sizing:border-box;border:1px solid #d8d8d8}
.signfile_info_area .info_box:first-child{margin-top:0}
.signfile_info_area .info_box .tit{display:inline-block;position:absolute;top:-10px;left:10px;padding:0 10px;background:#fff;font-weight:bold;font-size:14px}
.signfile_info_area .info_box .info_txt_list{margin-top:5px;}
.signfile_info_area .info_box .info_txt_list li{margin-top:5px;font-size:12px}
.signfile_info_area .info_box .info_txt_list li:first-child{margin-top:0}
.signfile_info_area .info_box .info_txt_list li>*{display:inline-block}
.signfile_info_area .info_box .info_txt_list li .s_tit{vertical-align:top}
.signfile_info_area .info_box .info_txt_list li .s_tit .cmt{display:inline-block;width:90px}
.signfile_info_area .info_box .info_txt_list li .s_tit .bl{display:inline-block;}
.signfile_info_area .info_box .info_txt_list li > span{margin-left:10px;width:290px;word-break:break-all}
/* # 추가(2018-02-27) 끝 # */

/* # 도움말 팝업 추가(2018-06-18) 시작 # */
/*help layout style*/	
.help-layer {position:absolute; width:313px; height:675px; border: 2px #f68620 solid; font-size:12px; color:#565867; margin-top:-2px;margin-left:458px; background:#fff;}
.help-layer .title {width:100%; height:146px; background-repeat:no-repeat; }
.help-layer .title .close {cursor:pointer; padding-left:274px; padding-top:22px; }
.help-layer .content {padding-top:0px; }
.help-layer .content ol {list-style: none; padding:20px 15px 5px 15px; margin:0px; }
.help-layer .content li {padding-bottom:12px;}
.help-layer .content li span {color:#f68620; font-weight:bold; }
.help-layer .content ul {list-style:disc url("../images/ico/helplayer-dot.png"); padding:10px 0 0 20px; margin:0px; }
.help-layer hr {background:#b1b5ba; width:270px; border:0; height:1px;}
.help-layer-btn {background:#fff; color:#666666; border:none; position:relative; height:30px; width: 258px; cursor:pointer; outline:none; border:1px solid #cbcbcb; vertical-align:middle; margin-left:13px; }
.help-layer-btn:hover {color:#f6861f; border:1px solid #f6861f; }
.help-layer-btn:active {background:#f59821; color:#fff; }
.help-btn {background:#fff; color:#666666; border:none; position:absolute; height:26px; width: 160px; font-size:12px; margin-top:-23px;margin-left:272px; cursor:pointer; outline:none; border:1px solid #cbcbcb; vertical-align:middle; }
.help-btn:hover {color:#f6861f; border:1px solid #f6861f; }
.help-btn:active {background:#f59821; color:#fff; }
@font-face {
	font-family: 'help';
	src:  url('../fonts/help.eot?8bp28q');
	src:  url('../fonts/help.eot?8bp28q#iefix') format('embedded-opentype'),
	  url('../fonts/help.ttf?8bp28q') format('truetype'),
	  url('../fonts/help.woff?8bp28q') format('woff'),
	  url('../fonts/help.svg?8bp28q#help') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
	font-family: 'help' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-help:before {content: "\e900"; font-size:15px; line-height:25px; }
.icon-help-small:before {content: "\e900"; font-size:12px; line-height:25px; }
/* # 도움말 팝업 추가(2018-06-18) 끝 # */

